:root {
  --primary-text-color: #434455;
  --title-text-color: #2e2f42;
  --primary-white-color: #ffffff;
  --button-color: #4d5ae5;
  --accent-color: #404bbf;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
.container {  
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
button {
  cursor: pointer;
}

body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
  font-family: "Roboto", sans-serif;
}

/* ======================== HIDDEN TITLE ======================= */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* ============================ HEADER ======================= */

.header {
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #e7e9fc;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.link-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.3;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
  text-decoration: none;
}

.header-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.3;
  letter-spacing: 0.03em;
  color: var(--button-color);
}


/* ============================== HERO ========================= */
.hero{
  margin: auto; 
  padding-top: 112px;
  padding-bottom: 112px;
}

.hero-container{       
  text-align: center;
}

.hero-title{
  max-width: 320px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 72px;

  font-size: 36px;
  line-height:1.11;
  text-align: center;
  letter-spacing: 0.02em;
  color:var(--primary-white-color);
}
.modal-btn {
  padding: 16px 32px;
  border: 1px solid var(--button-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: var(--button-color);
  color: var(--primary-white-color);

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-btn:hover,
.modal-btn:focus {
  background-color: var(--accent-color);  
}
 
 


/* =========================== ABOUT US ========================= */

.description-title-list { 
  text-align: center;
  margin-bottom: 8px;

  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color:var(--title-text-color);
}
.description-text{
  max-width: 396px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/* ======================== WHAT ARE WE DOING =================== */



/* =========================== OUR TEAM ======================= */

.team{    
  background-color: #f4f4fd; 
}

.team-title{    
  margin-bottom: 72px;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}

.name-item {   
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}

.name-item-content-wrapper {  
  text-align: center;
  padding: 32px 16px;
  background: var(--primary-white-color);
  border-radius: 0px 0px 4px 4px;
}

.name {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}
.position {
  margin-bottom: 8px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.social-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.social-list-link {  
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--button-color);
  fill: #f4f4fd;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-link:hover,
.social-list-link:focus {
  background-color: var(--accent-color); 
}




/* ========================== CUSTOMERS ====================== */

.customers-container{
  text-align: center;
}
.customers-title{
  margin-bottom: 72px;   
}

.customers-list-link {
  padding: 16px 40px;
  display: flex;
  width: 190px;
  height: 88px;
  border-radius: 4px;
  border: 1px solid #8e8f99;
  fill: #8e8f99;
}
.customers-list-link:hover,
.customers-list-link:focus {
  fill: #404bbf;
  border: 1px solid #404bbf;
  outline: none;
}
.customers-list-icon{
  min-width: 110px;
  height: 56px;  
}

/* ========================== FOOTER ========================= */
.footer{
  padding-top: 96px;
  padding-bottom: 96px; 
  background-color: var(--title-text-color);
}

.footer-item-list{
  margin-left: auto;
  margin-right: auto;
}

.footer-logo {
  display: flex;  
  justify-content: center;
  margin-bottom: 16px;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
  text-decoration: none;
}

.footer-logotype {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--button-color);
}

.footer-text { 
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #e7e9fc;
}
.footer-social{
  margin-left: auto;
  margin-right: auto;
}

.footer-social-list {
  display: flex;
  gap: 16px;
  }

.footer-social-title {
  margin-bottom: 16px;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;

  color: var(--primary-white-color);
}

.footer-social-list-link { 
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  fill: #f4f4fd;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-list-link:hover,
.footer-social-list-link:focus {
  background-color: #31d0aa;
  outline: none;
}

.subscribe-title{
  margin-bottom: 16px;

  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-white-color);
}


.subscribe-form-input{ 
  height: 40px; 
  padding-left: 16px; 
  margin-bottom: 16px;

  color: var(--primary-white-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background:transparent;  
  transition:border 250ms cubic-bezier(0.4, 0, 0.2, 1); ;  
}

.subscribe-form-input::placeholder{
  font-size: 12px;
  line-height: 2;

  letter-spacing: 0.04em;
  color: rgba(255, 255, 255, 0.6);
}

.subscribe-form-input:focus{
  background-color: transparent;
  outline: none;
  border: 1px solid #4D5AE5;
}

.subscribe-form-btn{
  display: flex;  
  align-items: center;
  
  height: 40px; 
  padding: 8px 24px;
  gap: 16px;
  
  border: 1px solid var(--button-color);
  border-radius: 4px;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--primary-white-color);
  background-color:var(--button-color);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-form-btn:hover,
.subscribe-form-btn:focus {
  background-color: var(--accent-color); 
  outline: none; 
}

.subscribe-form-icon{
  fill: var(--primary-white-color);
}

/* ========================= PORTFOLIO ========================== */


.button-portfolio {
  padding: 8px 16px;
  border: 1px solid #e7e9fc;
  border-radius: 4px;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--button-color);
  background-color: #f4f4fd;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    backround-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-portfolio:hover,
.button-portfolio:focus {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
  color: var(--primary-white-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  outline: none;
}
.projects-link {
  display: block;
  text-decoration: none;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.projects-link:focus,
.projects-link:hover {
  outline: none;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.projects-name {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}

.projects-type {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
} 
.projects-photo{
  width: 396px;
  height: 280px;
}
.projects-photo-content-wrapper {
  padding: 32px 16px;
  background-color: var(--primary-white-color);
  border: 1px solid #e7e9fc;
  border-top: none;
}


/* 0 - 1199 */
@media screen and (max-width: 1199px){
 
}

/* ========================= MODAL WINDOW ======================= */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
  visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.2);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);

  padding: 72px 24px 24px;
  
  min-height: 586px;
  background-color: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
   0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: var(--accent-color);
}
.modal-close-btn-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover .modal-close-btn-icon,
.modal-close-btn:focus .modal-close-btn-icon {
  fill: var(--primary-white-color);
}

/* =========================== MODAL-FORM ============================= */

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form-subtitle {
  margin-bottom: 16px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}

.modal-form-input-desc {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.modal-form-field {
  margin-bottom: 8px;
}
.modal-form-field-message {
  margin-bottom: 16px;
}

.modal-form-input-wrapper {
  display: block;
  position: relative;
}
.modal-form-input {
  width: 100%;
  height: 40px;
  padding-left: 38px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-input:focus {
  outline: none;
  border-color: var(--button-color);
}
.modal-form-input-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);

  display: block;
  width: 18px;
  height: 18px;
  fill: var(--title-text-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-input:focus + .modal-form-input-icon {
  fill: var(--button-color);
}
.modal-form-message {
  width: 100%;
  height: 120px;
  padding: 8px 16px;
  resize: none;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-message::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-form-message:focus {
  outline: none;
  border-color: var(--button-color);
}

.modal-form-check-desc {
  display: flex;
  align-items: center;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #757575;
  margin-bottom: 24px;
}

.modal-form-check-desc::before {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  border: 1.25px solid var(--title-text-color);
  border-radius: 2px;
  margin-right: 8px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-check:checked + .modal-form-check-desc::before {
  border: 1.25px solid var(--accent-color);
  background-color: var(--accent-color);
  background-image: url(../images/modal/check-mark.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.modal-form-check:focus + .modal-form-check-desc::before {
  border-color: var(--accent-color);
}

.modal-form-check-privacy {
  color: var(--button-color);
}

.modal-form-submit-btn {
  align-self: center;
  padding: 16px 32px;
  border: 1px solid var(--button-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  width: 169px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: var(--button-color);
  color: var(--primary-white-color);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-submit-btn:hover,
.modal-form-submit-btn:focus {
  background-color: var(--accent-color);
  outline: none;
}
